<nav class="bg-secondary-purple-light fixed w-full h-auto bottom-0 z-10 pt-4 pb-4 shadow-lg shadow-gray-400 md:flex md:flex-col md:w-auto md:h-screen md:p-5 md:sticky md:space-y-16 md:top-0 ">
  <div class="hidden md:flex md:justify-between">
    <img src="assets/images/CGI.png" alt="CGI logo" class="object-scale-down h-10 w-12" *ngIf="!collapsed">
    <button (click)="toggleCollapse()">
      <lucide-icon name="align-justify"></lucide-icon>
    </button>
  </div>
  <ul class="h-full justify-evenly flex flex-row flex-wrap gap-8 md:flex-col md:list-none">
    <app-navbar-item path="/home" icon="home" label="Home" [collapsed]="collapsed"></app-navbar-item>
    <app-navbar-item path="" icon="calendar-days" label="Agenda" [collapsed]="collapsed"></app-navbar-item>
    <app-navbar-item path="" icon="building-2" label="Mijn reserveringen" [collapsed]="collapsed"></app-navbar-item>
    <app-navbar-item class="mt-auto" path="" icon="circle-user-round" label="Profiel" [collapsed]="collapsed"></app-navbar-item>
    <app-navbar-item class="hidden md:flex" path="" icon="Log-out" label="Log uit" [collapsed]="collapsed"></app-navbar-item>
  </ul>
</nav>
