<div class="rounded-lg p-4 border-2 border-secondary-purple-light space-y-2 ">
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Standaard locatie</h2>
    <button class="bg-primary-dark-purple text-white p-2 rounded-lg hover:bg-purple-950 duration-300">Reserveer</button>
  </div>
  <div >
    <h3>Locatie: {{ defaultLocation.wing.floor.building.name }}</h3>
    <p>Verdieping: {{ defaultLocation.wing.floor.number }}</p>
    <p>Vleugel: {{ defaultLocation.wing.name }}</p>
  </div>

</div>
