<article class="flex flex-col h-full w-full space-y-6">
  <h1 class="w-min whitespace-nowrap text-3xl font-bold">Werkplekken beheren</h1>
  <section class="flex w-full justify-between">
    <input type="text" 
    [(ngModel)]="searchQuery"
    (input)="filterItemsBySearch()"
    placeholder="Zoek op naam..."
    class="w-1/3 h-[30px] md:h-[40px] p-1 md:p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-primary-dark-purple drop-shadow-sm">
    <div>
      <div class="flex space-x-2 items-center">
        <label for="building">Locatie:</label>
        <select name="building" id="building" [(ngModel)]="selectedBuilding" class="p-2 border-2 border-primary-dark-purple rounded-lg" (change)="onChangeFilter()">
          <option *ngFor="let building of buildings" [ngValue]="building">{{ building.name }}</option>
        </select>
      </div>
      <button>
        <lucide-icon name="plus" title="werkplek toevoegen"></lucide-icon>
      </button>
    </div>
  </section>
  
  <section class="flex pl-5 justify-between w-full font-bold">
    <p class="w-3/12">Naam</p>
    <p class="w-2/12">Type</p>
    <p class="w-1/12">Vleugel</p>
    <p class="w-1/12">Verdieping</p>
    <p class="w-1/12">Capaciteit</p>
    <p class="w-3/12">Gemaakt op</p>
    <p></p>
  </section>
  <ul class="space-x-1 h-[500px] overflow-auto">
    <app-location *ngFor="let location of locations" [location]="location"></app-location>
  </ul>
</article>