<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Kies een gebouw</ng-template>
      <swiper-container loop="true" navigation="true" speed="500" class="min-h-fit space-x-1" slides-per-view="3">
        @for (building of buildings; track building){
          <swiper-slide class="p-4 cursor-pointer" (click)="toggleActive(building)">
            <div [ngClass]="{'border-primary-dark-purple': building.isActive, 'border-gray-100': !building.isActive}"
                 class="border-2 rounded-2xl
          overflow-hidden shadow-md transition duration-500 hover:scale-105 active:scale-95
          focus:outline-none focus:ring focus:ring-primary-dark-purple">
              <img class="object-contain" src="assets/images/maastricht.jpg">
              <div class="p-4">
                <h1 class="text-2xl font-bold">{{building.name}}</h1>
                <h3 class="text-gray-500">{{building.address}}</h3>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
