.active-scale {
  transform: scale(0.95);
  border-color: #6366f1; /* Replace with the desired color */
}
::ng-deep .swiper-button-prev,
::ng-deep .swiper-button-next {
  color: white;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon{
  background-color: #5236AA !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  border-radius: 12px;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled{
  border-radius: 12px;
}
