<mat-stepper [orientation]="(stepperOrientation | async)!" linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Kies een gebouw</ng-template>
    <app-building-step [stepper]="stepper" (selectedBuilding)="addSelectedBuilding($event)"></app-building-step>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Kies Type</ng-template>
    <app-reservation-type-step (reservationType)="addReservationType($event)"></app-reservation-type-step>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Kies verdieping en vleugel</ng-template>
    <app-floor-and-wing-step [selectedBuilding]="selectedBuilding.getValue()!"
                             (selectedWing)="addSelectedWing($event)"
                             (selectedFloor)="addSelectedFloor($event)"></app-floor-and-wing-step>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Selecteer datum en tijd</ng-template>
    <app-date-and-time-step (reservationDateAndTime)="addReservationDateAndTime($event)"></app-date-and-time-step>
  </mat-step>
  @if (allAssigned | async) {
    <mat-step>
      <ng-template matStepLabel>Reservering Bevestigen</ng-template>
      <app-verify-reservation-step
        [building]="(selectedBuilding | async)!"
        [floor]="(selectedFloor | async)!"
        [wing]="(selectedWing | async)!"
        [startDate]="(reservationDateAndTime | async)?.startDate!"
        [endDate]="(reservationDateAndTime | async)?.endDate!"
        [reservationType]="(reservationType | async)!"
      ></app-verify-reservation-step>
    </mat-step>
  }
</mat-stepper>
