<li class="pl-1 bg-gradient-to-b from-primary-red to-primary-dark-purple rounded-lg border-2 border-secondary-purple-light w-full mb-2">
  <div *ngIf="!location.isEdit; else edit" class="flex w-full justify-between bg-white rounded-md p-4">
    <p class="min-w-[100px]">{{ location.name }}</p>
    <p class="min-w-[100px]">{{ location.type }}</p>
    <p class="min-w-[100px]">{{ location.wing.floor.building.name }}</p>
    <p class="min-w-[100px]">{{ location.wing.floor.number }}.{{ location.wing.name }}</p>
    <p class="min-w-[100px]">{{ location.capacity }}</p>
    <p class="min-w-[100px]">{{ location.createdAt | date:'shortDate' }}</p>
    <div class="flex space-x-5 ">
      <button (click)="location.isEdit = true">
        <lucide-icon name="pencil" title="bewerken"></lucide-icon>
      </button>
      <button>
        <lucide-icon name="trash-2" title="verwijderen"></lucide-icon>
      </button>
    </div>
  </div>

  <ng-template #edit>
    <form [formGroup]="locationForm" (ngSubmit)="onSubmitForm()" class="flex w-full justify-between bg-white rounded-md p-4">
      <input type="text" id="locationName" formControlName="locationName" class="w-[100px]">
      <select name="locationType" id="locationType"
        formControlName="locationType" class="w-[100px]">
          <option *ngFor="let type of locationTypes" [ngValue]="type">{{ type }}</option>
      </select>
      <p class="min-w-[100px]">{{ location.wing.floor.building.name }}</p>
      <select name="wing" id="wing" formControlName="wing" class="w-[100px]">
        <option *ngFor="let wing of wings" [ngValue]="wing">{{ wing.floor.number }}.{{ wing.name }}</option>
      </select>
      <input type="number" id="capacity" formControlName="capacity" class="w-[100px]">
      <p class="w-[100px]">{{ location.createdAt | date:'shortDate' }}</p>
      <div class="flex space-x-5 ">
        <button type="submit" id="save">
          <lucide-icon name="save" title="Opslaan"></lucide-icon>
        </button>
        <button id="cancel" class="text-primary-red" (click)="location.isEdit = false">
          <lucide-icon name="x" title="Annuleren"></lucide-icon>
        </button>
      </div>
    </form>
  </ng-template>
</li>
