<div class="flex flex-col md:flex-row md:space-x-4 justify-between">
    <article
      class="w-full rounded-lg p-4 border-2 border-secondary-purple-light space-y-4 mb-5"
    >
      <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold">Gebouw</h2>
      </div>
    
      <ul class="space-y-4">
      <li class="flex justify-between items-center">
        <p class="w-1/2">Naam</p>
        <div class="w-1/2">
        <select
          class="w-full rounded-lg border-2 border-secondary-purple-light p-2"
        >
          <option value="1">Gebouw 1</option>
          <option value="2">Gebouw 2</option>
          <option value="3">Gebouw 3</option>
          <option value="4">Gebouw 4</option>
        </select>
        </div>
      </li>
      <li class="flex justify-between items-center">
        <p class="w-1/2">Adres</p>
        <div class="w-1/2">
        <select
          class="w-full rounded-lg border-2 border-secondary-purple-light p-2"
        >
          <option value="1">Adres 1</option>
          <option value="2">Adres 2</option>
          <option value="3">Adres 3</option>
          <option value="4">Adres 4</option>
        </select>
        </div>
      </li>
      <li class="flex justify-between items-center">
        <p class="w-1/2">Postcode</p>
        <div class="w-1/2">
        <select
          class="w-full rounded-lg border-2 border-secondary-purple-light p-2"
        >
          <option value="1">Postcode 1</option>
          <option value="2">Postcode 2</option>
          <option value="3">Postcode 3</option>
          <option value="4">Postcode 4</option>
        </select>
        </div>
      </li>
      <li class="flex justify-between items-center">
        <p class="w-1/2">Plaats</p>
        <div class="w-1/2">
        <select
          class="w-full rounded-lg border-2 border-secondary-purple-light p-2"
        >
          <option value="1">Plaats 1</option>
          <option value="2">Plaats 2</option>
          <option value="3">Plaats 3</option>
          <option value="4">Plaats 4</option>
        </select>
        </div>
      </li>
      </ul>
      <!-- Add a button to the bottom right that says: "Opslaan" with white text and dark-primary-purple background. -->
      <button
      class="bg-primary-dark-purple text-white py-2 px-4 rounded-lg float-right"
      >
      Opslaan
      </button>
    </article>
  </div>