<div class="flex flex-col md:flex-row md:space-x-4 justify-between">
  <article
    class="w-full rounded-lg p-4 border-2 border-secondary-purple-light space-y-4 mb-5"
  >
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold">Gebouw</h2>
    </div>

    <ul class="space-y-4">
      <li class="flex justify-between items-center">
        <p class="w-1/2">Naam</p>
        <div class="w-1/2">
          <div class="relative w-full">
            <select
              class="w-full rounded-lg border-2 border-secondary-purple-light p-2 appearance-none"
            >
              <option value="1">Gebouw 1</option>
              <option value="2">Gebouw 2</option>
              <option value="3">Gebouw 3</option>
              <option value="4">Gebouw 4</option>
            </select>
            <div class="absolute right-2 top-1/2 transform -translate-y-1/2">
              <fa-icon class="px-2" [icon]="faChevronDown"></fa-icon>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- Add a button to the bottom right that says: "Opslaan" with white text and dark-primary-purple background. -->
    <button
      class="bg-primary-dark-purple text-white py-2 px-4 rounded-lg float-right"
    >
      Opslaan
    </button>
  </article>
</div>
