<div class="pl-1 bg-gradient-to-b from-primary-red to-primary-dark-purple rounded-lg border-2 border-secondary-purple-light w-full mb-2">
  <form [formGroup]="locationCreateForm" (ngSubmit)="onSubmitForm()" class="flex w-full justify-between bg-white rounded-md p-4">    
    <div class="flex flex-col space-y-2">
      <label for="locationName">Naam:</label>
      <input type="text" id="locationName" formControlName="locationName" class="border-2 border-secondary-purple-light rounded-lg p-2">
    </div>
    <div class="flex flex-col space-y-2">
      <label for="locationType">Type werkplek:</label>
      <select name="locationType" id="locationType"
      formControlName="locationType" class="border-2 border-secondary-purple-light rounded-lg p-2">
        <option *ngFor="let type of locationTypes" [ngValue]="type">{{ type }}</option>
      </select>
    </div>
    <div class="flex flex-col space-y-2">
      <label for="building">Gebouw:</label>
      <select name="building" id="building" class="border-2 border-secondary-purple-light rounded-lg p-2" formControlName="building" (change)="onChangeBuilding()">
        <option *ngFor="let building of buildings" [ngValue]="building">{{ building.name }}</option>
      </select>
    </div>
    <div class="flex flex-col space-y-2">
      <label for="wing">Vleugel:</label>
      <select name="wing" id="wing" formControlName="wing" class="border-2 border-secondary-purple-light rounded-lg p-2">
        <option *ngFor="let wing of wings" [ngValue]="wing">{{ wing.floor.number }}.{{ wing.name }}</option>
      </select>
    </div>
    <div class="flex flex-col space-y-2">
      <label for="capacity">Capaciteit:</label>
      <input type="number" id="capacity" formControlName="capacity" class="border-2 border-secondary-purple-light rounded-lg p-2">
    </div>
    <div class="flex space-x-5 ">
      <button type="submit" id="save">
        <lucide-icon name="save" title="Opslaan"></lucide-icon>
      </button>
      <button type="button" id="cancel" class="text-primary-red" (click)="onExitCreateMode()">
        <lucide-icon name="x" title="Annuleren"></lucide-icon>
      </button>
    </div>
  </form>
</div>
