@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "ngx-toastr/toastr";


:root {
  --color-dark-gray: #26232d;
  --color-light-yellow: #f7f7e0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent: #37b5e5;
}

body {
  margin: 0px;
  padding: 0px;
}

html {

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Section for styling the calendar properties
.fc .fc-button-primary {
  @apply bg-secondary-purple-light text-black rounded shadow-none;
  @apply hover:bg-secondary-purple-light hover:text-gray-600;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-button.fc-button-primary.fc-button-active {
  @apply bg-secondary-purple border-none outline-none shadow-none;
}

.fc .fc-button-primary:focus{
  @apply shadow-none;
}
.fc .fc-scrollgrid-liquid{
  border-radius: 12px;
}

.fc-day-today {
  background: #ECE9F6 !important;
  border: none !important;
}

.fc-theme-standard td:last-child{
  border-radius: 12px 0px 12px 12px;
}
.fc .fc-scrollgrid-section-header>*{
  border-radius: 12px 12px 0px 12px;
}

#fc-dom-1{
  @apply font-bold;
}

.fc .fc-toolbar.fc-header-toolbar{
  @apply flex flex-col-reverse md:flex-row;
}

//Styling for the timepicker
.timepicker {
  $bg-color: #5236AA;

  .timepicker__header {
    background-color: $bg-color !important;
    border-radius: 12px 12px 0px 0px;
  }
  .timepicker__actions[_ngcontent-ng-c2055447140]{
    border-radius: 0px 0px 12px 12px;
  }

  .clock-face__clock-hand {
    background-color: $bg-color !important;

    &::after {
      background-color: $bg-color !important;
    }

    &::before {
      border-color: $bg-color !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $bg-color !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: $bg-color !important;
  }
}
